
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    font-size: 16px;
}

.app,
.grato {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.app h1,
.grato h1 {
    font-size: 1.8rem;
    font-weight: bold;
    color: #ffff;
    margin-bottom: 30px;
}

.app textarea {
    width: 50%;
    margin-bottom: 30px;
    padding: .7rem;
    outline: none;
}

.app #openTicket {
    width: 50%;
    height: 2.5rem;
    color: #fff;
    font-weight: bold;
    background-color: #137E71;
    opacity: 0.8;
    border: none;
    cursor: pointer;
}

.grato button {
    width: 30%;
    height: 2.5rem;
    color: #fff;
    font-weight: bold;
    background-color: #960a0a;
    opacity: 0.8;
    border: none;
    cursor: pointer;
    margin-top: 30px;
}

.grato button:hover,
.grato button:hover {
    opacity: 1;
}

img {
    width: 30%;
}

#exit {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 30px;
    height: 30px;
    border: none;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    
}
#exit span{
    font-size: 28px;
}
#exit:hover{
    background-color:rgba(255, 0, 0, 0.732);
}

html, body{    
    font-size: 10pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
    background-color: #2C313C;
}

.mainApp{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border: 1px solid #343B48;
    -webkit-box-sizing: border-box;
}

.mainApp > .topBar{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 40px;
    border-bottom: 3px solid #343B48;
    background-color: #1B1D23;
    -webkit-user-select: none;
}

.topBar > .titleBar{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.topBar > .titleBar{
display: flex;
flex-direction: row;
align-items: center;
width: 100%;
}

.titleBar > .title{
    margin-left: 10px;
    width: 100%;
    line-height: 30px;
    margin-top: 5px;
    padding-bottom: 5px;
    -webkit-app-region: drag;
}

.topBar > .titleBarBtns{
    display: flex;
    flex-direction: row;
    width: 120px;
    height: 40px;
}

.titleBarBtns > .topBtn{
    width: 40px;
    height: 40px;
    border: none;
    outline: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.2s;
    cursor: pointer;
}

.titleBarBtns > .topBtn:hover{
    background-color: #272C36;
}
.titleBarBtns > .topBtn:active{
background-color: #4F9FEE;    
}
.titleBarBtns > .minimizeBtn{
    background-image: url();
}
.titleBarBtns > .maximizeBtn{
    background-image: url();
}
.titleBarBtns > .restoreBtn{
    background-image: url();
}
.titleBarBtns > .closeBtn{
    background-image: url();
}



